.header {
  height: 122px;
  border-bottom: 1px solid #ccc;
  /* margin-top: 20px; */
  position: relative;
}

.header-with-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.header__logo img {
  width: 209px;
  height: 30px;
  display: flex;
}

.header__search {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px;
  width: 500px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 40px;
  position: relative;
}

.header__search-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__search-list {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 99;
  animation: fadein ease 0.3s;
  /* display: none; */
}

.search__list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.search__list-item {
  font-size: 1.6rem;
  padding: 12px 16px;
  margin: 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.search__list-item:hover {
  background-color: #f2f2f2;
}

.search__list-item:active {
  background-color: #ddd;
  transform: scale(0.98);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.search-button {
  display: flex;
  align-items: center;
  background-color: #ff6600;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
}

.search-button i {
  margin-right: 5px;
}

.search-button:hover {
  background-color: #e65c00;
}

.header-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 28px;
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions span {
  margin-left: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.user-actions span:hover {
  color: #ff6a00; /* Alibaba's orange color */
}

.user-actions span:last-child {
  display: block;
  flex-shrink: 0;
  height: 36px;
  padding: 0 24px;
  outline: none;
  border-radius: 9999px;
  background-color: #f60;
  color: #fff !important;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
}

.user-actions span:last-child:hover {
  background-color: #e55a00;
}

.language-currency {
  margin-right: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  position: relative;
}

.language-currency:hover {
  color: #ff6a00; /* Alibaba's orange color */
}

.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: -50%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  min-width: 370px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box;
}

/* Mũi tên bóng đổ */
.dropdown::before {
  content: "";
  position: absolute;
  top: -26px;
  right: 213px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; /* Màu bóng đổ xám nhạt */
  filter: blur(2px); /* Làm nhòe bóng đổ */
  z-index: -1; /* Đặt phía sau mũi tên chính */
}

/* Mũi tên chính */
.dropdown::after {
  content: "";
  position: absolute;
  top: -20px; /* Đẩy mũi tên chính lên phía trên */
  right: 216px; /* Điều chỉnh vị trí ngang */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent; /* Mũi tên màu trắng */
}

.dropdown h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.dropdown p {
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
}

.dropdown-selection {
  margin-bottom: 15px;
}

.dropdown-selection label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.dropdown-selection select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.dropdown-selection select option {
  cursor: pointer;
}

.save-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.save-btn:hover {
  background-color: #e55a00;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* margin: 0; */
  padding: 0 20px;
  width: 100%;
}

.header__navbar-list .header__navbar-item {
  margin: 0 12px;
  font-size: 1.5rem;
  padding: 12px 0;
  box-sizing: border-box;
  cursor: pointer;
}


.header__navbar-item-has-category:hover .navbar__item-categories,
.header__navbar-item-has-trade:hover .navbar__item-trade {
  display: block;
}

.navbar__item-categories {
  position: absolute;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 300px;
  top: calc(100% + 2px);
  z-index: 1000;
  animation: fadein ease 0.3s;
  display: none;
}

.navbar__item-categories::before,
.navbar__item-trade::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: -18px;
  left: 0;
  height: 20px;
}

.navbar__item-categories h2 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 137px;
  box-sizing: border-box;
}

.category__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.category__list li {
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category__list li img {
  height: 100px;
}

.category__list li p {
  font-size: 1.5rem;
}

.dropdown-active {
  max-height: 300px; /* Điều chỉnh chiều cao phù hợp */
}

/* .header__navbar-item-has-category:hover + .navbar__item-categories {
  display: block;
} */

@keyframes fadein {
  from {
    opacity: 0;
    /* top: 100%; */
  }
  to {
    opacity: 1;
    /* top: 0%; */
  }
}
.navbar__item-trade {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  animation: fadein ease 0.3s;
}

.navbar__item-trade .trade-content {
  min-width: 1200px;
  max-width: 1600px;
  margin: 40px auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.navbar__item-trade .trade-info {
  width: 50%;
  margin: 40px 40px 40px 134px;
}

.navbar__item-trade .trade-info img {
  width: 212px;
  height: 32px;
}

.navbar__item-trade .trade-info h3 {
  display: block;
  margin: 20px 0 28px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.navbar__item-trade .trade-info button {
  display: block;
  flex-shrink: 0;
  height: 36px;
  padding: 0 24px;
  outline: none;
  border-radius: 9999px;
  background-color: #f60;
  color: #fff !important;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
  /* display: block; */
  width: 180px;
  border: none;
}

.navbar__item-trade .trade-info button:hover {
  background-color: #e55a00;
}

.navbar__item-trade .trade-cards {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 716px;
}

.navbar__item-trade .trade-cards .trade-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 49%;
  height: 120px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: #f7f7f7;
  text-decoration: none;
}

.navbar__item-trade .trade-cards .trade-link .trade-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 76px);
  margin-left: 16px;
  font-size: 1.3rem;
  line-height: 26px;
  color: #000;
}

.navbar__item-trade .trade-cards .trade-link .trade-text h3 {
  font-weight: 500;
}

.navbar__item-trade .trade-cards .trade-link .trade-text p {
  font-size: 2rem;
}


.navbar__item-help {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
}

.navbar__item-help .help-content {
  display: flex;
  align-items: center;
}

.navbar__item-help .help-content .help-item img {
  height: 70px;
  width: 70px;
}